services:
  zookeeper:
    image: "zmstone/kafka:${KAFKA_IMAGE_VERSION}"
    container_name: zookeeper
    command: run zookeeper
    network_mode: host
  kafka_1:
    depends_on:
      - zookeeper
    image: "${KAFKA_IMAGE}"
    container_name: "kafka-1"
    network_mode: host
    volumes:
      - './certs/kafka.keystore.jks:/opt/bitnami/kafka/config/certs/kafka.keystore.jks:ro'
      - './certs/kafka.truststore.jks:/opt/bitnami/kafka/config/certs/kafka.truststore.jks:ro'    
    environment:
      BROKER_ID: 0
      PLAINTEXT_PORT: 9092
      SSL_PORT: 9093
      SASL_SSL_PORT: 9094
      SASL_PLAINTEXT_PORT: 9095
      ADVERTISED_HOSTNAME: localhost
      ZOOKEEPER_CONNECT: "localhost:2181"
      KAFKA_CLIENT_USERS: alice
      KAFKA_CLIENT_PASSWORDS: ecila
      KAFKA_TLS_TYPE: JKS
      KAFKA_CERTIFICATE_PASSWORD: brodtest1234
      KAFKA_KRAFT_CLUSTER_ID: "p8fFEbKGQ22B6M_Da_vCBw"
      KAFKA_CFG_NODE_ID: 0
      KAFKA_CFG_PROCESS_ROLES: controller,broker      
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,SSL://:9093,SASL_SSL://:9094,CONTROLLER://:9096
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,SSL://localhost:9193,SASL_SSL://localhost:9094
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,SSL:SSL,SASL_SSL:SASL_SSL
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 0@localhost:9096,1@localhost:9196
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE: false

  kafka_2:
    depends_on:
      - zookeeper
    image: "${KAFKA_IMAGE}"
    container_name: "kafka-2"
    network_mode: host
    volumes:
      - './certs/kafka.keystore.jks:/opt/bitnami/kafka/config/certs/kafka.keystore.jks:ro'
      - './certs/kafka.truststore.jks:/opt/bitnami/kafka/config/certs/kafka.truststore.jks:ro'    
    environment:
      BROKER_ID: 1
      PLAINTEXT_PORT: 9192
      SSL_PORT: 9193
      SASL_SSL_PORT: 9194
      SASL_PLAINTEXT_PORT: 9195
      ADVERTISED_HOSTNAME: localhost
      ZOOKEEPER_CONNECT: "localhost:2181"
      KAFKA_CLIENT_USERS: alice
      KAFKA_CLIENT_PASSWORDS: ecila
      KAFKA_TLS_TYPE: JKS
      KAFKA_CERTIFICATE_PASSWORD: brodtest1234
      KAFKA_KRAFT_CLUSTER_ID: "p8fFEbKGQ22B6M_Da_vCBw"
      KAFKA_CFG_NODE_ID: 1
      KAFKA_CFG_PROCESS_ROLES: controller,broker
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9192,SSL://:9193,SASL_SSL://:9194,CONTROLLER://:9196
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9192,SSL://localhost:9193,SASL_SSL://localhost:9194
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,SSL:SSL,SASL_SSL:SASL_SSL
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 0@localhost:9096,1@localhost:9196
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE: false